<html>
<head>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">   
</head>

<body>
<div class="topbar">     
 <div class="topbar-inner">      
  <div class="container-fluid"> 
     <ul class="pills">     
     <li><a class="brand" href="i" class="active">IVR WIDGETS</a></li>             
 <li ><a href="@{Application.wedding()}" >WEDDINGS</a></li>          
  <li><a href="@{Application.medical()}" >MEDICAL ENQUIRIES</a></li>      
      <li><a href="@{Application.fest()}">COLLEGE FESTS</a></li>        
   <li><a href="@{Application.resr()}" >TICKET ENQUIRIES</a></li>    
       <li><a href="@{Application.coni()}" >CONTACT US</a></li> 
         <li><a href="@{Application.DET()}" >USERS</a></li> 
<li><a href="logout" >SIGN OUT</a></li> 
 </ul>
                     
        </div></div></div> 
<div class="page-header">  
  <h1><FONT COLOR="Brown">Contact Us</font> <small>details of contacts</small></h1> 
 </div>
 <!-- Table structure -->
<div class="container"> 
 <div class="row">  
<div class="span4">
<img src="@{'/public/images/Ozonetel-Kookoo.jpg'}" width="80%"/> </div>
 <div class="span12">
<table border="0" class="right"><tr><th>NAME</th><th>Phone Number</th><th>Email ID</th></tr><tr><td>KR Sankeerth</td><td>9618440008</td><td>sankeerth18@gmail.com</td></tr><tr><td>N Ranjith Kumar</td><td>9989676120</td><td>ranjithchintu@gmail.com</td></tr><tr><td>V Devendra Chary</td><td>9133337770</td><td>devendrachary@hotmail.com</td></tr><tr><td>V Susheel Kumar</td><td>8143417251</td><td>susheelkumar111@gmail.com</td></tr></table> </div></div><br></div>       
<br><br>
</div>

<div style="font-size: 12px; height: 24px; line-height: 24px; color: BLACK">   
 <marquee direction="left"  behavior="scroll" scrollamount="3"><b><h3> "Interactive Voice Response is an advanced telephone technology allowing interaction between inbound callers and an automated phone system to acquire or enter information into a database. IVR systems provides 24 hour access to a business"</h3> </marquee>
</div>
</body></html>