<html>
<head>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">   
</head>
<body>
<div class="topbar">     
 <div class="topbar-inner">      
  <div class="container-fluid"> 
     <ul class="pills">     
     <li><a class="brand" href="@{Application.index()}" class="active">IVR WIDGETS</a></li>             
 <li ><a href="@{Application.wedding()}" >WEDDINGS</a></li>          
  <li><a href="@{Application.medical()}" >MEDICAL ENQUIRIES</a></li>      
      <li><a href="@{Application.fest()}">COLLEGE FESTS</a></li>        
   <li><a href="@{Application.resr()}" >TICKET ENQUIRIES</a></li>    
       <li><a href="@{Application.coni()}" >CONTACT US</a></li> 
        <li><a href="@{Application.DET()}" >USERS</a></li> 
<li><a href="logout" >SIGN OUT</a></li> 
 </ul>
                     
        </div></div></div> 
<div class="page-header">
<h1><FONT COLOR="Brown">Medical Enquiries</font><small>widgets used in medical enquires</small></h1>
 </div>
<div class="container">
<div class="row">
<div class="span4" >    
<h1>Enquiries</h1>
<img src="@{'/public/images/lasik-surgeon.gif'}"  width="80%"/>
</div>
<div class="span11" >
<ul >          
   <li ><h3>To enquire about the medicine </h3></li>
            <li><h3>People can order their required medicine </h3> </li>
            <li><h3>To know the availability of Doctors in Hospital</h3></li>
           <li ><h3>To take the appointment with Doctors</h3></li>
<li ><h3>publicity of hospitals can also be done through ads</h3></li></ul></div></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div style="font-size: 12px; height: 24px; line-height: 24px; color: BLACK">   
 <marquee direction="left"  behavior="scroll" scrollamount="3"><b><h3> "Interactive Voice Response is an advanced telephone technology allowing interaction between inbound callers and an automated phone system to acquire or enter information into a database. IVR systems provides 24 hour access to a business"</h3> </marquee>
</div>
</body></html>

