<html>
<head>
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">   
</head>
<body>
<div class="topbar">     
 <div class="topbar-inner">      
  <div class="container-fluid"> 
     <ul class="pills">     
     <li><a class="brand" href="@{Application.index()}" class="active">IVR WIDGETS</a></li>             
 <li ><a href="@{Application.wedding()}" >WEDDINGS</a></li>          
  <li><a href="@{Application.medical()}" >MEDICAL ENQUIRIES</a></li>      
      <li><a href="@{Application.fest()}">COLLEGE FESTS</a></li>        
   <li><a href="@{Application.resr()}" >TICKET ENQUIRIES</a></li>    
       <li><a href="@{Application.coni()}" >CONTACT US</a></li> 
         <li><a href="@{Application.DET()}" >USERS</a></li> 
<li><a href="logout" >SIGN OUT</a></li> 
 </ul>
                     
        </div></div></div>  
<div class="page-header">
<h1><FONT COLOR="Brown">Reservation</font> <small>widgets used in ticket enquires</small></h1>
 </div>
<div class="container">
<div class="row"> 
<div class="span4" >    
<h1>Enquiry</h1>
<img src="@{'/public/images/379.png'}"  width="80%"/>
</div>
<div class="span10" >
<ul >           
   <li ><h3>To get the details about ticket in different traveling sectors </h3></li>
            <li><h3>To reserve the tickets </h3> </li>
            <li><h3>To know the loction and timings of the travels </h3></li>
<li ><h3>passengers can be given particular advices by our services </h3></li></ul></div></div>
<br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<div style="font-size: 12px; height: 24px; line-height: 24px; color: BLACK">   
 <marquee direction="left"  behavior="scroll" scrollamount="3"><b><h3> "Interactive Voice Response is an advanced telephone technology allowing interaction between inbound callers and an automated phone system to acquire or enter information into a database. IVR systems provides 24 hour access to a business"</h3> </marquee>
</div>
</body></html>
