#{extends 'main.html' /}
<html>
    <title>IVR WIDGET</title>
<body>
<div class="topbar">     
 <div class="topbar-inner">      
  <div class="container-fluid"> 
     <ul class="pills">     
     <li><a class="brand" href="i" class="active">IVR WIDGETS</a></li>             
  <li ><a href="@{Application.wedding()}" >WEDDINGS</a></li>          
  <li><a href="@{Application.medical()}" >MEDICAL ENQUIRIES</a></li>      
      <li><a href="@{Application.fest()}">COLLEGE FESTS</a></li>        
   <li><a href="@{Application.resr()}" >TICKET ENQUIRIES</a></li>    
       <li><a href="@{Application.coni()}" >CONTACT US</a></li> 
        <li><a href="@{Application.DET()}" >USERS</a></li> 
<li><a href="selection" >SELECTION</a></li> 
<li><a href="logout" >SIGN OUT</a></li> 
 </ul>
                     
  </div></div></div>
    <table>
        <tr>  <td>  
   <img src="@{'/public/images/Capture.png'}"   height="50%" width="50%" /><BR><br><br> 
   </td>
   <td>
    <div class="span4">  
        
    #{form @store()}
     #{field 'username'}
    <label for="username" class="username-field">LOCATION:</label>
               <input type="text" name="username" id="username" value="${flash.username}" />
        #{/field}
        
        <label for="num">CHOOSE NUMBER:</label>
       #{field 'phno'}  
        <select id="phno" name="phno">
<option value=00>select</option>
<option value=9884561231>9884561231</option>
<option value=9760000000>9760000000</option>
<option value=9770000000>9770000000</option>
<option value=9780000000>9780000000</option>
<option value=9790000000>9790000000</option>
<option value=9800000000>9800000000</option>
<option value=9810000000>9810000000</option>
<option value=9820000000>9820000000</option>
<option value=9900000000>9900000000</option></select>
         #{/field}<br><br>
 <input type=submit value=submit>
   #{/form}
    </div>
   </td>
    </tr>
</table>
</body>
</html>